Repository ramki11/Survey: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-check-biome, backend-check

frontend-check-biome:
  run: npm run lint {staged_files}
  stage_fixed: true

backend-check:
  run: poetry run ruff check --select I --fix {staged_files} && poetry run ruff format {stage_files}
  stage_fixed: true

run poetry run lint and format from precommit
  lefthook.yml
Due: none

configuration ready
  lefthook.yml
Due: none

Add inquiry tests (#55)
  frontend/__tests__/inquiry/add_inquiry.test.tsx
  frontend/__tests__/sum.test.ts
  frontend/e2e/add-inquiry.spec.ts
  frontend/jest.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Inquiries/AddInquiry.tsx
  frontend/tsconfig.json
Due: frontend-check-biome

Changed to parallel execution
  lefthook.yml
Due: none

mock service worker implemented
  frontend/__tests__/sum.test.ts
  frontend/src/client/index.ts
  frontend/src/mocks/browser.js
  frontend/src/mocks/browser.ts
  frontend/src/mocks/handlers.js
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/node.ts
Due: frontend-check-biome

updated test
  frontend/__tests__/sum.test.ts
Due: frontend-check-biome

edit questions scaffolding
  backend/app/api/routes/questions.py
  backend/app/services/questions_service.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/client/models.ts
  frontend/src/components/Questions/EditQuestion.tsx
Due: frontend-check-biome, backend-check

remove sum.ts
  frontend/src/sum.ts
Due: frontend-check-biome

cleaned up directory, added tests
  frontend/__tests__/example.test.ts
  frontend/__tests__/mocks/browser.ts
  frontend/__tests__/mocks/handlers.ts
  frontend/__tests__/mocks/node.ts
  frontend/__tests__/sum.test.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/mocks/browser.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/node.ts
  frontend/tsconfig.json
Due: frontend-check-biome

bugfix: Update OS specific python venv path for VS Code debugger configuration (#58)
  .vscode/launch.json
Due: none

fixed PR
  frontend/__tests__/example.test.ts
  frontend/__tests__/mocks/browser.ts
  frontend/__tests__/mocks/handlers.ts
  frontend/__tests__/mocks/node.ts
  frontend/jest.config.ts
  frontend/package.json
Due: frontend-check-biome

update
  frontend/jest.config.ts
  frontend/package-lock.json
  frontend/package.json
Due: frontend-check-biome

resolved textEncoder
  frontend/__tests__/example.test.ts
  frontend/jest.config.ts
Due: frontend-check-biome

implemented edit inquiry method that assures admin
  backend/app/main.py
Due: backend-check

updated inquiry class, added Response class
  backend/app/models/inquiry.py
Due: backend-check

added optional id and title attribute to InquiryCreate
  frontend/src/client/models.ts
Due: frontend-check-biome

created updateInquiry function that will update via PUT request
  frontend/src/client/services/inquiriesService.ts
Due: frontend-check-biome

Added EditInquiry component
  frontend/src/components/Inquiries/EditInquiry.tsx
Due: frontend-check-biome

Implemented jsdom configuration to resolve error
  frontend/jest.config.ts
  frontend/package-lock.json
  frontend/package.json
Due: frontend-check-biome

added
  backend/app/main.py
  backend/app/models/inquiry.py
  backend/app/models/response.py
  backend/app/services/inquiries.py
  backend/app/services/session.py
  backend/app/services/users.py
  frontend/src/client/models.ts
Due: frontend-check-biome, backend-check

commented out jest.config.ts
  frontend/jest.config.ts
Due: frontend-check-biome

eslint disabled
  frontend/__tests__/example.test.ts
Due: frontend-check-biome

Removed the responses attribute from the Inquiry model. Added a reference to the Inquiry model in the Response model.
  backend/app/models/inquiry.py
  backend/app/models/response.py
Due: backend-check

[SR-63] feat(db): add Theme model and migration (#71)
  backend/app/alembic/versions/fda83aff7cb5_create_theme_table.py
  backend/app/models/__init__.py
  backend/app/models/theme.py
Due: backend-check

the env file is in the parent directory, no?
  backend/app/core/config.py
Due: backend-check

sqlite in-memory test
  backend/app/tests/conftest.py
Due: backend-check

removing debug print
  backend/app/tests/conftest.py
Due: backend-check

annotating function
  backend/app/tests/conftest.py
Due: backend-check

perplexing comments as guide for perplexed
  backend/app/tests/conftest.py
Due: backend-check

removed and ignored tests
  backend/app/tests/api/routes/test_items.py
  backend/app/tests/api/routes/test_login.py
  backend/app/tests/api/routes/test_users.py
Due: backend-check

using the sqlmodel instructions
  backend/app/tests/conftest.py
Due: backend-check

Revert "removed and ignored tests"
  backend/app/tests/api/routes/test_items.py
  backend/app/tests/api/routes/test_login.py
  backend/app/tests/api/routes/test_users.py
Due: backend-check

add uuids to sqlite to enable get_current_user
  backend/app/tests/conftest.py
Due: backend-check

linting
  backend/app/tests/conftest.py
Due: backend-check

back end create inquiry tests
  backend/app/alembic/versions/6c01e8a810c5_change_maxlen_inquiry.py
  backend/app/api/routes/inquiries.py
  backend/app/models/inquiry.py
  backend/app/tests/api/routes/inquiry/test_post_inquiry_api.py
  backend/app/tests/api/routes/test_inquiries.py
  backend/app/tests/services/inquiry/test_create_inquiry_service.py
  backend/app/tests/services/test_inquiry.py
Due: backend-check

suppress db changes to pass github checks
  backend/app/alembic/versions/6c01e8a810c5_change_maxlen_inquiry.py
Due: backend-check

using consts. backing off from maxlen
  backend/app/models/inquiry.py
  backend/app/tests/api/routes/inquiry/test_post_inquiry_api.py
Due: backend-check

Path conditions:
  frontend-check-biome: any of: *.{js,ts,jsx,tsx} and ^frontend/
  backend-check: any of: *.py and ^backend/
